<a href="https://colab.research.google.com/github/sangkonpark/1day-1commit/blob/main/1D1C_20210815.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 자료형 _ 문자열 포매팅

In [ ]:
# 숫자 바로 대입
"I eat %d apples." % 3

In [ ]:
# 문자열 바로 대입
"I eat %s apples." % "five"

In [ ]:
# 숫자 값을 나타내는 변수로 대입
number =3
"I eat %d apples." % number

In [ ]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

# 리스트 자료형

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [ ]:
a[0]

In [ ]:
a[-1]

In [ ]:
a[3]

In [ ]:
#리스트 a에 포함된 ['a', 'b', 'c']리스트에서 'a'값을 인덱싱을 사용해 끄집어 낼 수 있는 방법
a[-1][-1]

In [ ]:
#리스트에 요소 추가(append)
a = [1,2,3]
a.append(4)
a

In [ ]:
a.append([5,6])
a

In [ ]:
del a[4]
a

In [ ]:
#리스트에 요소 삽입(insert) a번째 위치에 b를 삽입하는 함수
a = [1,2,3]
a.insert(0,4)
a

In [ ]:
a.sort()
a

# 튜플 자료형



*   리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
*   리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.